<h2 class="text-xl mb-3">About hacket</h2>

<p class="my-1.5">
  hacket is a small scale self-hosted open-source social media platform. Its key features are security, ease of use and reliabilty. It is designed by Robin Boers and built using Phoenix Framework and Elixir.
</p>

<p class="my-1.5">
  The sentence you see above is the key goal of hacket. It is also the exact same sentence I used to describe
  <a href="https://nindo.geheimesite.nl/about" target="_blank">Nindo</a>
  . Why? Because hacket is the succesor to Nindo. It the exact same, but without the RSS functionality. I rebuilt it using new things I learned while developing some other applications. It took me 5 weeks to build Nindo. It took me 2 days to build hacket.
</p>

<p class="my-1.5">
  I also wanted to make it as bare bones and 2012 looking as possible. The main sources of inspiration for the design are
  <a href="https://news.ycombinator.com/" target="_blank">hacker news</a>,
  <a href="https://old.reddit.com" target="_blank">Old Reddit</a>,
  <a href="https://micro.blog" target="_blank">Micro.blog</a> and
  <a href="https://sourcehut.org" target="_blank">sourcehut</a>.
</p>

<p class="my-1.5">
  I'd like to bring back the RSS functionality as a seperate application one day, but it turns out building a good RSS reader is actually quite hard. I'm also planning on implementing themes, starting with a Nindo theme and a hacker news theme.
</p>

<p class="my-1.5">
  hacket is built using <a href="https://elixir-lang.org" target="_blank">Elixir</a>,
  <a href="https://www.phoenixframework.org" target="_blank">Phoenix Framework</a>,
  <a href="https://github.com/riverrun/bcrypt_elixir" target="_blank">bcrypt_elixir</a>,
  <a href="https://github.com/rrrene/html_sanitize_ex" target="_blank">html_sanitize_ex</a>,
  <a href="https://heroicons.com" target="_blank">Heroicons</a>,
  <a href="https://github.com/BennyHallett/elixir-rss" target="_blank">elixir-rss</a>,
  <a href="https://github.com/darwintantuco/the_big_username_blacklist" target="_blank">
    the_big_username_blacklist
  </a>
  and <a href="https://github.com/pragdave/earmark" target="_blank">earkmark</a>.
</p>
